<!DOCTYPE html>
<html>
  <head>
      <title>JavaScript Pie Chart</title>
      <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
      <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="Chart.bundle.js"></script>
  <script src="utils.js"></script>
  <style>
  canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  </style>
      <style type="text/css">
        html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}
      </style>

       <script type="text/javascript">
      
        var chart8 = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart8.draw(data, options);
      }
    </script>
  </head>
  <body>

  <div style="width: 75%">
    <canvas id="canvas"></canvas>
  </div>
    <div align="center" id="container" style="width: 30%; height: 30%"></div>

    <br>
    <br>

    <br>
    <br>

    <br>
    <br>

    <br>
    <br>
    <br>
    <br>



    <h3 align="center">Line graph describing the increase in the number of donors</h3>

  <div id="chart_div"></div>

  <br>
    <br>

    <br>
    <br>

    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
  <div style="width:75%">
    <canvas id="canvas"></canvas>
  </div>
 
   
 
    <div align="center" id="chart_div" style="width: 900px; height: 500px;"></div>


  
      </body>
    <script>
    
     
    var scatterChartData = {
      datasets: [{
        label: 'Average Family Income Over The Years',
        borderColor: window.chartColors.red,
        backgroundColor: color7(window.chartColors.red).alpha(0.2).rgbString(),
        data: [{
          x: 5,
          y: 20,
        }, {
          x: 7,
          y: 16,
        }, {
          x: 23,
          y: 27,
        }, {
          x: 27,
          y: 22,
        }, {
          x: 36,
          y: 29,
        }, {
          x: 46,
          y: 33,
        }, {
          x: 66,
          y: 36,
        }]
      }]
    };

    window.onload = function() {
      var ctx = document.getElementById('canvas').getContext('2d');
      window.myScatter = Chart.Scatter(ctx, {
        data: scatterChartData,
        options: {
          title: {
            display: true,
            text: 'Scatter Chart (values in 100s)'
          },
        }
      });
    };

  
    
    </script>
  
</html>