<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <label class="pull-right">Rs. 100</label>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-default">
  <div class="container-fluid">    
      <label class="col-sm-3" style="text-align: center;">Engineering<br>100</label>
      <label class="col-sm-3" style="text-align: center;">Medical<br>100</label>
      <label class="col-sm-3" style="text-align: center;">CA<br>100</label>
      <label class="col-sm-3" style="text-align: center;">Others<br>100</label>    
  </div>
</nav>
<div class="container">
             
  <table class="table table-bordered data-table" style="text-align: center;">
    <thead>
      <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Course</th>
        <th style="text-align: center;">Requested Amount</th>
        <th style="text-align: center;">Disbursed Amount</th>
        <th style="text-align: center;">Approval</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>ENGG.</td>
        <td>100</td>
        <td><input type="text" name=""></td>
        <td><button type="button" class="btn btn-success">Approve</button>
        <button type="button" class="btn btn-danger">Reject</button></td>
      </tr>
      <tr>
        <td>John</td>
        <td>ENGG.</td>
        <td>100</td>
        <td><input type="text" name=""></td>
        <td><button type="button" class="btn btn-success">Approve</button>
        <button type="button" class="btn btn-danger">Reject</button></td>
      </tr>
      <tr>
        <td>July</td>
        <td>ENGG.</td>
        <td>100</td>
        <td><input type="text" name=""></td>
        <td><button type="button" class="btn btn-success">Approve</button>
        <button type="button" class="btn btn-danger">Reject</button></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
